<!-- Header -->
<section id="header">
    <div id="menu_bar" class="header container" #myDiv>
        <div class="menu">
            <div class="menu_icon"><div class="bar"></div></div>
            <ul class="menu_items">
                <li><a href="#home" data-after="Home">Home</a></li>
                <li><a href="#about" data-after="About">About me</a></li>
                <li><a href="#skills" data-after="Skills">My skills</a></li>
                <li><a href="#projects" data-after="Projects">My projects</a></li>
                <li><a href="#contact" data-after="Contact">Contact</a></li>
            </ul>
        </div>
    </div>
</section>
<!---->
