<section id="header">
    <div class="header container" id="header_animation">
        <div class="menu">
            <ul class="menu_items">
                <li><a href="#home" data-after="Home"><fa-icon [icon]="faHome"></fa-icon></a></li>
                <li><a href="#about" data-after="About"><fa-icon [icon]="faAddressCard"></fa-icon></a></li>
                <li><a href="#skills" data-after="Skills"><fa-icon [icon]="faCode"></fa-icon></a></li>
                <li><a href="#projects" data-after="Projects"><fa-icon [icon]="faLaptopCode"></fa-icon></a></li>
                <li><a href="#contact" data-after="Contact"><fa-icon [icon]="faPhoneSquareAlt"></fa-icon></a></li>
            </ul>
        </div>
    </div>
    <div class="mobile_menu">
        <ul class="mobile_menu_items">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="mobile_menu_icon"><div class="bar"></div></div>
    </div>
    <div class="mobile_arrow">
        <a href="#home"><fa-icon [icon]="faChevronUp"></fa-icon></a>
    </div>
</section>