<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li class="menu-icon p-cursor">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li>
                        <img class="p-cursor" src="assets/img/loupe.png" alt="Loupe icon" width="25"/>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#" [routerLink]="['/']" [routerLinkActive]="['is-active']">Home</a>
                    </li>
                    <li>
                        <a href="#">About me</a>
                    </li>
                    <li>
                        <a href="#">Projects</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
