<section id="footer">
    <div class="footer container">
        <ul class="menu_items">
            <li><a href="#home" data-after="Home"><fa-icon [icon]="faHome"></fa-icon></a></li>
            <li><a href="#about" data-after="About"><fa-icon [icon]="faAddressCard"></fa-icon></a></li>
            <li><a href="#skills" data-after="Skills"><fa-icon [icon]="faCode"></fa-icon></a></li>
            <li><a href="#projects" data-after="Projects"><fa-icon [icon]="faLaptopCode"></fa-icon></a></li>
            <li><a href="#contact" data-after="Contact"><fa-icon [icon]="faPhoneSquareAlt"></fa-icon></a></li>
        </ul>
        <hr>
        <h1>Daniel Dereniowski</h1>
        <hr>
        <h2>Portfolio website</h2>
    </div>
</section>