#footer {
    background: #434343;
    display: none;
}

#footer .footer{
    width: 100%;
    min-height: 3em;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}

#footer .footer h1{
    color: white;
    font-size: 2em;
    font-style: italic;
    letter-spacing: 0.1em;
}

#footer .footer h2{
    color: white;
}