*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Biryani', sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    cursor: pointer;
}

p{
    line-height: 1.8em;
    font-size: 1.2rem;
    font-weight: 400;
}

img{
    display: block;
    max-width: 100%;
}

/* CSS classes for fading animation written in js */
.fade_in{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade_in.appear{
    opacity: 1;
}
/**/