*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    font-family: 'Biryani', sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.name h1{
    font-size: 2rem;
    font-style: oblique;
    color: white;
}

/* Media For Tablet */
@media only screen and (max-width: 768px){
    #projects .project_bottom .project-item{
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .projects_bottom .projects_img{
        margin-top: 20px;
        margin-left: 10%;
    }

    #projects .projects_bottom .project_info {
        height: 100%;
    }

    #projects .projects_bottom .project_info {
        height: 100%;
    }

    #projects .projects_item{
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}
/**/