/* 
======
Global
======
*/
.container{
    margin: 0 auto;
    min-height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5em;
}

section{
    padding: 4em;
}

.section_title{
    font-size: calc(2rem + 2vw);
    color: black;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    font-weight: 600;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

/* 
======
======
*/

/* 
====
Home
====
*/
#home{
    background-image: url(/assets/img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

#home::after{
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#home .home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    top: 50%;
    bottom: 50%;
}

#home h1{
    font-size: calc(2.5rem + 3vw);
    color: white;
    text-align: center;
    opacity: 0;
    animation: ani2 4s ease-out forwards;
    font-style: italic;
    text-shadow: 0 0.1em 0 rgba(0, 0, 0, 0.5);
}

#home .home_text{
    position: absolute;
    top: 25%;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    animation: ani2 4s ease-in forwards;
    opacity: 0;
    padding: 2em;
}

#home .home_text p{
    text-align: center;
    color: white;
    font-size: calc(1rem + 1.2vw);
}

#home .home_text p span{
    color: rgb(175, 60, 60);
    text-shadow: 0 0.1em 0 rgba(0, 0, 0, 0.5);
    font-size: calc(1rem + 1.2vw);
    font-weight: bold;

}

#home .home_text .read_more_button{
    color: white;
    border: 2px solid white;
    font-size: calc(0.5rem + 0.3vw);
    padding: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: bold;
    border-radius: 2em;
    transition: 0.5s;
    margin-inline: auto;
}

#home .home_text .read_more_button:hover{
    background-color: rgb(175, 60, 60);
    letter-spacing: 0.1em;
}

#home .home_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#home .home_links fa-icon{
    font-size: calc(1em + 1vw);
    color: white;
    transition: 0.5s;
    opacity: 0.5;
}

#home .home_links fa-icon:hover{
    color: rgb(175, 60, 60);
    opacity: 1;
}
/* 
======
======
*/

/* 
========
About me
========
*/
#about {
    background-color: white;
}

#about .about{
    display: flex;
    text-align: center;
    max-width: 60%;
    min-height: 3em;
    padding: 2.5em;
    box-shadow:
        0 2.6px 9.9px -10px rgb(219, 199, 199),
        0 6.7px 20.7px -10px rgb(219, 199, 199),
        0 13.6px 33.1px -10px rgba(0, 0, 0, 0.108),
        0 28.1px 50px -10px rgba(0, 0, 0, 0.191),
        0 77px 78px -10px rgba(0, 0, 0, 0.24);
    background-color: white;
    background-color: rgba(100,105,109,0.5466561624649859);
}

#about .about_img{
    width: 40%;
}

#about .about_img img{
    border-radius: 7em;
    border: 2px solid white;
    margin: 0 auto;
}

#about .about_info{
    width: 60%;
    text-align: justify;
    padding: 2em;
    text-align: center;
}

#about .about_info p{
    font-size: calc(0.6rem + 0.8vw);
}

#about .about_img h2{
    margin-top: 1em;
    font-size: calc(0.9rem + 0.8vw);
    font-weight: 900;
    letter-spacing: 0.1rem;
    text-align: center;
    color: white;
}

#about .about_img h3{
    font-size: calc(0.7rem + 0.8vw);
    margin-bottom: 1em;
}
/* 
======
======
*/

/* 
======
Skills
======
*/
#skills .skills{
    display: flex;
    text-align: center;
    max-width: 60%;
    min-height: 2em;
    box-shadow:
        0 0px 6.3px -7px rgba(0, 0, 0, 0.065),
        0 0px 21px -7px rgba(0, 0, 0, 0.095),
        0 0px 94px -7px rgba(0, 0, 0, 0.16);
}

#skills .skills_item{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 15%;
    padding: 2.5em;
    margin: 0.5em;
}

#skills .skills_item .icon img{
    max-width: 64px;
}

#skills .skills_item h2{
    font-size: calc(1rem + 0.8vw);
    color: black;
    margin: 0.3em 0 0.3em 0;
}
/* 
======
======
*/

/* 
========
Projects
========
*/
#projects{
    background-color: white;
}

#projects .projects{
    flex-direction: column;
    max-width: 60%;
}

#projects .projects_item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 6em;
    width: 100%;
    padding: 2.5em;
    box-shadow:
        0 2.6px 9.9px -10px rgb(219, 199, 199),
        0 6.7px 20.7px -10px rgb(219, 199, 199),
        0 13.6px 33.1px -10px rgba(0, 0, 0, 0.108),
        0 28.1px 50px -10px rgba(0, 0, 0, 0.191),
        0 77px 78px -10px rgba(0, 0, 0, 0.24);
    background-color: rgba(100,105,109,0.5466561624649859);
    border-radius: 1.5em;
}

#projects .projects_item span{
    font-size: calc(0.8rem + 0.8vw);
}

#projects .projects_item h1{
    font-size: calc(1.3rem + 2vw);
    font-weight: 600;
    color: white;
    text-align: center;
}

#projects .projects_item h2{
    font-size: calc(0.7rem + 0.7vw);
    font-weight: 700;
}

#projects .projects_item p{
    margin: 1em 0 0 0;
    font-size: calc(0.8rem + 0.4vw);
}

#projects .projects_img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#projects .projects_img img{
    margin-top: 1.5em;
    transition: 1s;
    height: calc(20vh+ 10vh);
    width: calc(20vw + 5vw);
    padding: 0.2em;
}

#projects .projects_img img:hover{
    filter: drop-shadow(4px 4px 6px gray);
    transform: scale(1.1);
}
/* 
======
======
*/

/* 
=======
Contact
=======
*/
#contact .contact{
    display: flex;
    flex-direction: row;
    text-align: center;
    min-height: 2em;
    max-width: fit-content;
    box-shadow:
        0 0px 6.3px -7px rgba(0, 0, 0, 0.065),
        0 0px 21px -7px rgba(0, 0, 0, 0.095),
        0 0px 94px -7px rgba(0, 0, 0, 0.16);
}

#contact .contact_item{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2.5em;
}

#contact .contact_item h1{
    font-size: calc(0.7rem + 0.8vw);
}

#contact .contact_item h2{
    font-weight: 100;
    font-size: calc(0.6rem + 0.5vw);
}

#contact .contact_img{
    margin-bottom: 1.5em;
}
/* 
======
======
*/

/* 
==========
Responsive
==========
*/
@media only screen and (max-width: 1200px){

    .container{
        flex-direction: column;
    }

    #about .about,
    #projects .projects,
    #contact .contact{
        max-width: fit-content;
    }

    #about .about_img{
        width: 100%;
    }

    #about .about_info{
        width: 100%;
        padding: 0;
    }

    #skills .skills{
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 90%;
    }

    #projects .projects_item{
        padding: 1em;
    }

    #contact .contact{
        flex-direction: column;
    }
}
/*
======
======
*/

/* 
=========
Keyframes
=========
*/
@keyframes ani2{
    100%{
        opacity: 1;
    }
}
/* 
======
======
*/