<!-- Home -->
<section id="home">
    <div class="home container">
        <h1>Welcome !</h1>
        <div class="home_text">
            <p>I am <span>Daniel</span>, and this is my portfolio website.</p>
        </div>
    </div>
</section>
<!---->
<!-- About me -->
<section id="about" class="fade_in">
    <h1 class="section_title">About me</h1>
    <div class="about container">
        <div class="about_img">
            <img src="/assets/img/cvvv.jpg" alt="my photo"/>
            <h2>Daniel Dereniowski</h2>
            <h3>IT Technician</h3>
        </div>
        <div class="about_info">
            <p>I am a second-year student of computer science on Politechnika Śląska in Gliwice. My main interest is web development, and I want to become a front-end developer. Currently I am working on my coding skills, and also I am looking for an internship to gain commercial experience. I would love to take part in real projects.</p>
        </div>
    </div>
</section>
<!---->
<!-- Skills -->
<section id="skills" class="fade_in">
    <h1 class="section_title">My skills</h1>
    <div class="skills container">
        <div class="skills_item">
            <div class="icon"><img src="/assets/img/html.jpg"/></div>
            <h2>HTML</h2>
            <p>Good</p>
        </div>
        <div class="skills_item">
            <div class="icon"><img src="/assets/img/css.jpg"/></div>
            <h2>CSS</h2>
            <p>Good</p>
        </div>
        <div class="skills_item">
            <div class="icon"><img src="/assets/img/js.jpg"/></div>
            <h2>JavaScript</h2>
            <p>Basic</p>
        </div>
        <div class="skills_item">
            <div class="icon"><img src="/assets/img/nodejs.jpg"/></div>
            <h2>Node.js</h2>
            <p>Basic</p>
        </div>
        <div class="skills_item">
            <div class="icon"><img src="/assets/img/sql.jpg"/></div>
            <h2>SQL</h2>
            <p>Good</p>
        </div>
        <div class="skills_item">
            <div class="icon"><img src="/assets/img/git.jpg"/></div>
            <h2>Git</h2>
            <p>Basic</p>
        </div>
    </div>
</section>
<!---->
<!-- My Projects -->
<section id="projects" class="fade_in">
    <h1 class="section_title">My Projects</h1>
    <div class="projects container">
        <div class="projects_item">
            <h1>Basketballerz</h1>
            <h2><span>Front-end:</span> HTML/CSS/JavaScript/little bit of jQuery</h2>
            <h2><span>Back-end:</span> Node.js (RESTful API)</h2>
            <h2><span>Database:</span> local MySQL Database</h2>
            <p>Browser game that is still being developed. At this point user registration, and login works fine. Currently I am working on json web tokens and session authentication.</p>
            <div class="projects_img">
                <img src="/assets/img/basketballerz_1.jpg" alt="basketballerz project photo" width="49%" />
                <img src="/assets/img/basketballerz_2.jpg" alt="basketballerz project photo" width="49%" />
                <img src="/assets/img/basketballerz_3.jpg" alt="basketballerz project photo" width="49%" />
                <img src="/assets/img/basketballerz_4.jpg" alt="basketballerz project photo" width="49%" />
            </div>
        </div>
        <div class="projects_item">
            <div class="projects_info">
                <h1>KcalCulator</h1>
                <h2>C++/Qt</h2>
                <p>Desktop application for Windows written for student project. App calculates caloric demand depending on user data from profile. The user can track his calories intake in meal diary.</p>
            </div>
            <div class="projects_img">
                <img src="/assets/img/kcalculator_1.jpg" alt="kcalculator project photo" width="49%" />
                <img src="/assets/img/kcalculator_2.jpg" alt="kcalculator project photo" width="49%" />
                <img src="/assets/img/kcalculator_3.jpg" alt="kcalculator project photo" width="49%" />
                <img src="/assets/img/kcalculator_4.jpg" alt="kcalculator project photo" width="49%" />
            </div>
        </div>
        <div class="projects_item">
            <div class="projects_info">
                <h1>Other student projects</h1>
                <h2><span>Napkin layout program generator</span></h2>
                <h2>Python/Batch/HTML</h2>
                <p>BAT script runs python programme, which generates napkin layout depending on input .txt files. Then python script is generating HTML file, which contains some information about program sequence.</p>
            </div>
            <div class="projects_img">
                <img src="/assets/img/serwetka_1.jpg" alt="napkin project photo" width="49%" />
                <img src="/assets/img/serwetka_2.jpg" alt="napkin project photo" width="49%" />
                <img src="/assets/img/serwetka_3.jpg" alt="napkin project photo" width="49%" />
            </div>
        </div>
    </div>
</section>
<!---->
<!-- Contact -->
    <section id="contact" class="fade_in">
        <h1 class="section_title">Contact</h1>
        <div class="contact container">
            <div class="contact_item">
                <div class="contact_img"><img src="/assets/img/phone.jpg"/></div>
                <h1>Phone</h1>
                <h2>+48 883 958 242</h2>
            </div>
            <div class="contact_item">
                <div class="contact_img"><img src="/assets/img/email.jpg"/></div>
                <h1>E-mail</h1>
                <h2>dereniowskid885@gmail.com</h2>
            </div>
            <div class="contact_item">
                <div class="contact_img"><img src="/assets/img/fb.jpg"/></div>
                <h1>Facebook</h1>
                <h2>facebook.com/daniel.dereniowski</h2>
            </div>
        </div>
    </section>
<!---->