/* 
======
Global
======
*/
.container{
    margin-inline: auto;
    min-height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    padding: 4em;
}

.section_title{
    font-size: 4em;
    color: black;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    font-weight: lighter;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

/* 
======
======
*/

/* 
====
Home
====
*/
#home{
    background-image: url(/assets/img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

#home::after{
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

#home h1{
    font-size: 5rem;
    color: white;
    text-align: center;
    position: absolute;
    top: 30%;
    opacity: 0;
    animation: ani2 4s ease-out forwards;
    font-style: italic;
    text-shadow: 0 0.1em 0 rgba(0, 0, 0, 0.5);
}

#home .home_text{
    top: 40%;
    position: absolute;
    overflow: hidden;
    animation: ani2 4s ease-in forwards;
    opacity: 0;
    padding-top: 0.5em;
    border-top: 2px solid white;
}

#home .home_text p{
    color: white;
    font-size: 2rem;
    font-style: italic;
}

#home .home_text p span{
    color: #581010;
    font-size: 2.5rem;
    font-weight: 900;
}
/* 
======
======
*/

/* 
========
About me
========
*/
#about {
    background-color: rgba(100,105,109,0.5466561624649859);
}

#about .about{
    display: flex;
    text-align: center;
    max-width: 60%;
    min-height: 3em;
    padding: 2.5em;
    box-shadow:
        0 0px 6.3px -7px rgba(0, 0, 0, 0.065),
        0 0px 21px -7px rgba(0, 0, 0, 0.095),
        0 0px 94px -7px rgba(0, 0, 0, 0.16);
}

#about .about_img{
    width: 40%;
}

#about .about_img img{
    border-radius: 6em;
    border: 2px solid white;
    margin: 0 auto;
}

#about .about_info{
    width: 60%;
    text-align: justify;
    padding: 2em;
}

#about .about_img h2{
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 0.2rem;
    text-align: center;
    color: white;
}
/* 
======
======
*/

/* 
======
Skills
======
*/
#skills .skills{
    display: flex;
    text-align: center;
    max-width: 60%;
    min-height: 2em;
    box-shadow:
        0 0px 6.3px -7px rgba(0, 0, 0, 0.065),
        0 0px 21px -7px rgba(0, 0, 0, 0.095),
        0 0px 94px -7px rgba(0, 0, 0, 0.16);
}

#skills .skills_item{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 15%;
    padding: 2.5em;
    margin: 0.5em;
}

#skills .skills_item h2{
    font-size: 2em;
    color: black;
    margin: 0.3em 0 0.3em 0;
}
/* 
======
======
*/

/* 
========
Projects
========
*/
#projects{
    background-color: rgba(100,105,109,0.5466561624649859);
}

#projects .projects{
    flex-direction: column;
    max-width: 60%;
}

#projects .projects_div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .projects_item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3em;
    width: 100%;
    padding: 2.5em;
    box-shadow:
        0 0px 6.3px -7px rgba(0, 0, 0, 0.065),
        0 0px 21px -7px rgba(0, 0, 0, 0.095),
        0 0px 94px -7px rgba(0, 0, 0, 0.16);
}

#projects .projects_item span{
    font-size: 1.2em;
    font-weight: bold;
}

#projects .projects_item h1{
    font-size: 3em;
    font-weight: 600;
    color: white;
    text-align: center;
}

#projects .projects_item h2{
    font-size: 1.5em;
    font-weight: 400;
}

#projects .projects_item p{
    margin: 1em 0 0 0;
}

#projects .projects_img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#projects .projects_img img{
    margin-top: 1.5em;
}
/* 
======
======
*/

/* 
=======
Contact
=======
*/
#contact .contact{
    display: flex;
    text-align: center;
    min-height: 2em;
    width: 60%;
    box-shadow:
        0 0px 6.3px -7px rgba(0, 0, 0, 0.065),
        0 0px 21px -7px rgba(0, 0, 0, 0.095),
        0 0px 94px -7px rgba(0, 0, 0, 0.16);
}

#contact .contact_item{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2.5em;
}

#contact .contact_item h1{
    font-size: 1.3em;
}

#contact .contact_item h2{
    font-weight: 100;
}

#contact .contact_img{
    margin-bottom: 1.5rem;
}
/* 
======
======
*/

/* 
=========
Keyframes
=========
*/
@keyframes ani2{
    100%{
        opacity: 1;
    }
}
/* 
======
======
*/