<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="profile_picture"></div>
            </div>
            <div class="col-sm-7">
                <span class="profile_tag">Web Development</span>
                <h1 class="mt-4">Daniel Dereniowski</h1>
                <p class="profile_desc mt-3 mb-4">Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski Daniel Dereniowski</p>
                <a href="#" class="profile_readmore">Read more <img src="assets/img/right_arrow.jpg" alt="Right arrow icon" width="16" class="ml-1" /></a>
            </div>
        </div>
    </div>
</section>