<!-- Home -->
<section id="home">
    <div class="home container">
        <div class="home_text">
            <h1>Welcome !</h1>
            <p>
                I am<br />
                <span>Daniel Dereniowski</span><br />
                beginner front-end developer<br />
            </p>
            <div class="home_links">
                <a href="https://github.com/dereniowskid885" target="_blank">
                <fa-icon [icon]="faGithub"></fa-icon></a>
                <a href="https://www.linkedin.com/in/daniel-dereniowski-8460b120b" target="_blank">
                <fa-icon [icon]="faLinkedin"></fa-icon></a>
            </div><br />
            <a class="read_more_button" href="#about">Read more</a>
        </div>
    </div>
</section>
<!---->
<!-- About me -->
<section id="about" class="fade_in">
    <h1 class="section_title">About me</h1>
    <div class="about container">
        <div class="about_img">
            <img src="/assets/img/cvvv.jpg" alt="my photo"/>
            <h2>Daniel Dereniowski</h2>
            <h3>IT Technician</h3>
        </div>
        <div class="about_info">
            <p>
                I am a second-year student of computer science on Silesian University of Technology in Gliwice. My main interest is web development, and I want to become a front-end developer. Currently I am working on my coding skills, and also I am looking for an internship to gain commercial experience. I would love to take part in real projects, and have opportunity to advance in various technologies.
            </p>
        </div>
    </div>
</section>
<!---->
<!-- Skills -->
<section id="skills" class="fade_in">
    <h1 class="section_title">My skills</h1>
    <div class="skills container">
        <div class="skills_item">
            <div class="icon"><img src="/assets/img/html.jpg" alt="html icon"/></div>
            <h2>HTML</h2>
            <p>Good</p>
        </div>
        <div class="skills_item">
            <div class="icon"><img src="/assets/img/css.jpg" alt="css icon"/></div>
            <h2>CSS</h2>
            <p>Good</p>
        </div>
        <div class="skills_item">
            <div class="icon"><img src="/assets/img/js.jpg" alt="javascript icon"/></div>
            <h2>JavaScript</h2>
            <p>Basic</p>
        </div>
        <div class="skills_item">
            <div class="icon"><img src="/assets/img/nodejs.jpg" alt="node.js icon"/></div>
            <h2>Node.js</h2>
            <p>Basic</p>
        </div>
        <div class="skills_item">
            <div class="icon"><img src="/assets/img/sql.jpg" alt="sql icon"/></div>
            <h2>SQL</h2>
            <p>Good</p>
        </div>
        <div class="skills_item">
            <div class="icon"><img src="/assets/img/git.jpg" alt="git icon"/></div>
            <h2>Git</h2>
            <p>Basic</p>
        </div>
    </div>
</section>
<!---->
<!-- My Projects -->
<section id="projects" class="fade_in">
    <h1 class="section_title">My Projects</h1>
    <div class="projects container">
        <div class="projects_item">
            <div class="projects_info">
                <h1>Basketballerz</h1>
                <h2><span>Front-end:</span> HTML/CSS/JavaScript/little bit of jQuery</h2>
                <h2><span>Back-end:</span> Node.js (RESTful API)</h2>
                <h2><span>Database:</span> local MySQL Database</h2>
                <a href="https://github.com/dereniowskid885/Basketballerz" target="_blank">
                <fa-icon [icon]="faGithub"></fa-icon></a>
                <a href="https://github.com/dereniowskid885/Basketballerz_api" target="_blank">
                <fa-icon [icon]="faGithub"></fa-icon></a>
                <p>
                    Non-commercial browser game, that is still being developed. At this point user registration, and login works fine. Currently I am working on json web tokens and session authentication. 
                </p>
            </div>
            <div class="projects_img">
                <a href="/assets/img/basketballerz_1.jpg" data-lightbox="mygallery">
                <img src="/assets/img/basketballerz_1.jpg" alt="basketballerz project photo" /></a>
                <a href="/assets/img/basketballerz_2.jpg" data-lightbox="mygallery">
                <img src="/assets/img/basketballerz_2.jpg" alt="basketballerz project photo" /></a>
                <a href="/assets/img/basketballerz_3.jpg" data-lightbox="mygallery">
                <img src="/assets/img/basketballerz_3.jpg" alt="basketballerz project photo" /></a>
                <a href="/assets/img/basketballerz_4.jpg" data-lightbox="mygallery">
                <img src="/assets/img/basketballerz_4.jpg" alt="basketballerz project photo" /></a>
            </div>
        </div>
        <div class="projects_item">
            <div class="projects_info">
                <h1>KcalCulator</h1>
                <h2>C++/Qt</h2>
                <a href="https://github.com/dereniowskid885/kcalculator" target="_blank">
                <fa-icon [icon]="faGithub"></fa-icon></a>
                <p>
                    Desktop application for Windows written for student project. App calculates caloric demand depending on data from profile. User can track his calories intake in meal diary. Current calories and macronutrients are updated in real-time. Every data is saved in .txt files.
                </p>
            </div>
            <div class="projects_img">
                <a href="/assets/img/kcalculator_1.jpg" data-lightbox="mygallery">
                <img src="/assets/img/kcalculator_1.jpg" alt="kcalculator project photo" /></a>
                <a href="/assets/img/kcalculator_2.jpg" data-lightbox="mygallery">
                <img src="/assets/img/kcalculator_2.jpg" alt="kcalculator project photo" /></a>
                <a href="/assets/img/kcalculator_3.jpg" data-lightbox="mygallery">
                <img src="/assets/img/kcalculator_3.jpg" alt="kcalculator project photo" /></a>
                <a href="/assets/img/kcalculator_4.jpg" data-lightbox="mygallery">
                <img src="/assets/img/kcalculator_4.jpg" alt="kcalculator project photo" /></a>
            </div>
        </div>
        <div class="projects_item">
            <div class="projects_info">
                <h1>Other student projects</h1>
                <h1><span>Napkin layout program generator</span></h1>
                <h2>Python/Batch/HTML</h2>
                <p>
                    Batch script runs python programme, which generates napkin layout depending on input .txt files. Then python script is generating HTML file, which contains some information about program sequence.
                </p>
            </div>
            <div class="projects_img">
                <a href="/assets/img/serwetka_1.jpg" data-lightbox="mygallery">
                <img src="/assets/img/serwetka_1.jpg" alt="napkin project photo" /></a>
                <a href="/assets/img/serwetka_2.jpg" data-lightbox="mygallery">
                <img src="/assets/img/serwetka_2.jpg" alt="napkin project photo" /></a>
                <a href="/assets/img/serwetka_3.jpg" data-lightbox="mygallery">
                <img src="/assets/img/serwetka_3.jpg" alt="napkin project photo" /></a>
            </div>
            <div class="projects_info">
                <h1><span>PESEL number generator</span></h1>
                <h2>Java</h2>
                <p>
                    User enters data (date of birth), which is used to generate PESEL number. List of numbers can be shown by typing 2 in the CLI.
                </p>
            </div>
            <div class="projects_img">
                <a href="/assets/img/pesel_1.jpg" data-lightbox="mygallery">
                <img src="/assets/img/pesel_1.jpg" alt="napkin project photo" /></a>
                <a href="/assets/img/pesel_2.jpg" data-lightbox="mygallery">
                <img src="/assets/img/pesel_2.jpg" alt="napkin project photo" /></a>
            </div>
        </div>
    </div>
</section>
<!---->
<!-- Contact -->
    <section id="contact" class="fade_in">
        <h1 class="section_title">Contact</h1>
        <div class="contact container">
            <div class="contact_item">
                <div class="contact_img"><img src="/assets/img/linkedin.jpg" alt="linkedin icon"/></div>
                <h1>LinkedIn</h1>
                <h2>linkedin.com/in/daniel-dereniowski-8460b120b</h2>
            </div>
            <div class="contact_item">
                <div class="contact_img"><img src="/assets/img/email.jpg" alt="e-mail icon"/></div>
                <h1>E-mail</h1>
                <h2>dereniowskid885@gmail.com</h2>
            </div>
        </div>
    </section>
<!---->